@tailwind base;
@tailwind components;

@media (max-width: 330px) {
  .disappear-when-xs {
    display: none;
  }
}

.cell {
  display: inline-block;
}

.alive {
  background-color: black;
}
.dead {
  background-color: white;
}

/* TEMP */
.mx-4 {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

@tailwind utilities;
